/* BLOQUEO DE ALINEACIÓN ZEUS V3 */
body {
    display: grid !important;
    place-items: center !important;
    margin: 0 !important;
    overflow: hidden !important; /* Evita que el virus cree barras de desplazamiento */
    width: 100vw !important;
    height: 100vh !important;
}
